<div class="container" [formGroup]="searchForm">
  <mat-form-field class="example-form-field">
    <mat-label>Search repositories</mat-label>
    <input matInput type="text" formControlName="q">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select Language" formControlName="language">
      <mat-option [value]="null"></mat-option>
      @for (language of languages; track language) {
        <mat-option [value]="language">
          {{ language }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
