<div>
  <mat-toolbar color="primary">
    <span>My Github App</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      [routerLink]="['/', 'repositories']">
      <mat-icon>group</mat-icon>
    </button>
    <button
      *ngIf="!isAuth; else logout"
      mat-icon-button
      [routerLink]="['/', 'auth']">
      <mat-icon>login</mat-icon>
    </button>
    <ng-template #logout>
      <button
        mat-icon-button
        (click)="onLogout()">
        <mat-icon>logout</mat-icon>
      </button>
    </ng-template>
  </mat-toolbar>
</div>
