<ng-container *ngIf="repositoryDetail$ | async as repositoryInfo">
  <div class="container">
    <div class="content">
      <div class="readme">
        <h2 class="readme-title">{{ repositoryInfo?.repositoryReadme?.name }}</h2>
        <div class="readme-content" [innerHtml]="repositoryInfo?.repositoryReadme?.content | atobText | safeHtml"></div>
      </div>
    </div>
    <div class="commits">
      @for (commit of repositoryInfo?.repositoryCommits; track commit.node_id) {
        <div class="commit">
          <div class="commit-author">
            <strong>{{ commit.commit.author.name }}</strong>
          </div>
          <div class="commit-message">
            {{ commit.commit.message }}
          </div>
        </div>
      }
    </div>
  </div>
</ng-container>
